body{
    background-color:#272C2C;
}

.top-container{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: auto;
    align-items: stretch;
    
  }
    
    .topnav {
      background-color:#272C2C;
      color: #F6F7F7;
      overflow: hidden;
      margin: 0 auto;
      border-bottom: 2px solid white;
   }
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #272C2C;
      color: #F6F7F7; 
      
  }
    li {
      display: inline-block;
      padding: 0 1rem;
    }
  
  .topnav a {
      text-align: center;
      padding: 14px 16px;
      font-size: 28px;
      color:#F6F7F7;
      text-decoration: none;
      text-decoration: none;
      font-family: 'Marcellus SC';
  }
  
  .navSubtext {
    font-size: 18px;
    text-align: center;
    
    
  }
  
  
  a:hover {
  background-color:#272C2C;
  color:#F4786C; 
  }
  
  a:active {
      color:#ED1E0A;
      background-color:#272C2C;
  }
  
  .homepage{
      background-color:#272C2C;
      color: #F6F7F7;
      overflow: hidden;
      margin:0 auto;
   }
  
   .page1_Container{
      display: flex;
      flex-direction: column;
      align-content: space-between;
      justify-content: space-between;
      padding: 0 rem;

   }
  
  .homepage{
    font-family: 'Marcellus SC';
    background-color:#272C2C;
    color: #F6F7F7;
    overflow: hidden;
      margin:0 auto;
  }

  
  
  .designerType{
      font-size: 48px;
      justify-content: left;
      padding-left: 64px;
      flex-direction: flex-start;
  }
  
  .titleName {
      display: flex;
      align-content: center;
      justify-content: center;
      padding: 36px;

    }

  h1{
    font-size: 142px;
    

  }
  
  .designerSlogan{
      font-size: 32px;
      flex-direction: flex-end;
      padding-left: 600px;
      
      
  }
  
  h2{
    text-align: left;
    padding: 48px 64px;
    font-size: 48px;
    justify-content: left;
   
  }

  h3{
    text-align: left;
    padding: 16px 224px;
    font-size: 32px;
    justify-content: right;
    
    
  }

  .aboutMe_container{

    align-items: center;
    display: inline-flex;
    align-items: center;
  
   
  }
  

  .aboutMe_document {

    border:none; 
    width: 600px; 
    height: 800px; 
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: normal;
    font-family: 'Lato';
    text-align: left;
    background-color:#2E2D2D;
    color:azure;

    transform: translate3d(0, 100px, 0);

 }

/*should I apply the slide in to each of these?
or is there a slide in on scoll like the fade-in?
*/
 .P1{font-size: 24px;}

 .P2{font-size: 42px;}

 .P3{font-size: 20px;}

 .P4{font-size: 24px;}

 .P5{font-size: 42px;}

 .P6{font-size: 20px;}

 .P7{
  font-size: 24px;
  font-style:italic;
 }

 .P8{font-size: 42px;}

 .P9{font-size: 20px;}




.profpic{
    display: inline-flex;
    justify-content: left;
    align-items: center;
}

img{

    width: 600px;
    height: 800px;

 }

 li{
   list-style-type: none;
  
  
 }


.aboutMe_card{
  font-family: 'Lato';
  display: flex;
  border: #F6F7F7
}

.aboutMe_card-body{
  display: flex;
  
}

  
 


  


  .footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: flex-end;
    font-family: 'Marcellus SC';
    font-size: 18px;
    padding-top: 64px;
  }



  /*
  @keyframes Slide_Up{
    0%{
      transform: translateY(250px);
    }
    100%{
      transform: translateY(0)
    }
    */


    .come-in {
      /*transform: translateY(100px);*/
      transform: translate3d(0, 100px, 0);
      animation: come-in 0.8s ease forwards;
    }
    .come-in:nth-child(odd) {
      animation-duration: 0.6s;
    }
    .already-visible {
      /*transform: translateY(0);*/
      transform: translate3d(0, 0, 0);
      animation: none;
    }
    
    @keyframes come-in {
      to { transform: translate3d(0, 0, 0); }
    }